<!DOCTYPE html>
<!-- https://github.com/Yonle/Toard -->
<html lang="en">
  <%- include("header.ejs", { t: `/${id}/ - ${t.t}`, d: t.d }); %>

  <body>
    <div id="top"></div>
    <div class="fixed top">
      <b>Tird - </b>
      <span>Text & image bulletin board</span>
    </div>
    <a href="#create" class="fixed top right">New Thread</a
    ><br /><br />

    <div id="posts">
      <!-- Posts --->
      <% for (const p of pst) { %>
      <div class="post" id="t<%= p.ts %>">
        <div>
          <b><a href="<%= srch ? "/" + p.id + "/#t" + p.ts : "#t" + p.ts %>"><%= p.t %></a></b>
          <small class="date"><%- srch ? `at <a href="/${p.id}/">/${p.id}/</a> - ` : "" %><%= (new Date(p.ts)).toLocaleString("ia") %></small>
        </div>
        <% if (p.furl) { %><small class="filename">File: <%= p.furl %></small><br>
        <a class="imgurl" href="/u/<%= p.furl %>"><img src="/u/<%= p.furl %>.webp" loading="lazy" /></a><% } %><pre><%= p.d %></pre>
      </div>
      <% }; %>
    </div>

    <div id="components">
      <% if (!["hello_there", "toard_api", "search"].includes(id.toLowerCase())) { %>
      <!-- Reply Button --->
      <form
        id="reply"
        action="/<%= id %>/reply"
        method="POST"
        class="fixed left right bottom popup"
        style="bottom: 40px"
        enctype="multipart/form-data"
      >
        <div>
          <input
            style="width: 98%"
            type="text"
            name="t"
            id="reply_name"
            placeholder="Name (optional)"
          />
        </div>
        <textarea
          style="width: 98%; height: 120px; resize: both;"
          name="d"
          placeholder="Comment"
          id="reply_comment"
          autofocus
        ></textarea><br>
        <span>Image (optional): <input type="file" name="f" accept="image/*" /></span><br>
        <button
          class="right"
          style="color: black; background: white"
          type="submit"
          id="reply_button"
        >
          Reply
        </button>
        <a style="color: black; background: white" href="#">Cancel</a>
        <small>Replying to <b>/<%= id %>/</b></small>
      </form>
      <% } %>

      <!-- Post Creation -->
      <form
        id="create"
        action="/create"
        method="POST"
        class="fixed left right popup"
        style="bottom: 40px"
        enctype="multipart/form-data"
      >
        <div>
          <input
            style="width: 98%"
            type="text"
            name="t"
            placeholder="Title"
            required
            autofocus
          />
        </div>
        <textarea
          style="width: 98%; height: 120px; resize: both;"
          name="d"
          placeholder="Description"
          required
          autofocus
        ></textarea
        ><br />
        <span>Image (optional): <input type="file" name="f" accept="image/*" /></span><br>
        <button
          class="right"
          style="float: right; color: black; background: white"
          type="submit"
        >
          Create Thread
        </button>
        <a style="color: black; background: white" href="#">Cancel</a>
        <small>Create new thread</small>
      </form> 
    </div>

    <!-- Bottom Menus -->
    <div class="bottom fixed">
      <div class="left">
        <a href="/">Home</a>
        <a href="/discover.html">Discover</a>
        <% if (!["hello_there", "toard_api", "search"].includes(id.toLowerCase())) { %><a href="#reply">Reply</a><% } %>
      </div>
      <form action="/search" method="POST"><input
        class="fixed right"
        name="q"
        type="text"
        placeholder="Search Post...."
        value="<%= srch || "" %>"
        style="width: 45vw;"
        required
      /></form>
    </div>

    <div id="bottom"></div>
  </body>
  <script>
    let posts = document.getElementById("posts");
    let len = document.getElementById("posts").getElementsByTagName("pre").length;

    function make(data) {
      if (!data.ts || !data.t) return;
      let post = document.createElement("div");
      let span = document.createElement("small");
      let borderTop = document.createElement("div");
      let pre = document.createElement("pre");
      let a = document.createElement("a");
      let b = document.createElement("b");
      let br = document.createElement("br");

      len++

      a.innerText = data.t;
      a.href = "#t" + data.ts;
      b.appendChild(a);

      span.innerText = (new Date(data.ts)).toLocaleString("ia");
      span.classList.add("date");
      borderTop.appendChild(b);
      borderTop.appendChild(span);

      pre.innerText = data.d || "";
      post.id = "t" + data.ts;

      post.appendChild(borderTop);

      if (data.furl) {
        let imgdetails = document.createElement("small");
        let img = document.createElement("img");
        let imglink = document.createElement("a");

        img.src = "/u/" + data.furl + ".webp";
        imgdetails.innerText = "File: " + data.furl;
        imgdetails.classList.add("filename");
        imglink.href = "/u/" + data.furl;

        post.appendChild(imgdetails);
        post.appendChild(br);
        imglink.appendChild(img);
        post.appendChild(imglink);
      }

      post.appendChild(pre);
      post.classList.add("post");

      posts.appendChild(post);
    }

    function getNewPosts() {
      if (["hello_there", "toard_api", "search"].includes(location.pathname.slice(1))) return;
      fetch(location.protocol + "//" + location.host + "/api" + location.pathname + "?from=" + len)
        .then(r => r.json())
        .then(posts => {
          if (posts.length) {
            const oldtitle = document.title;
            document.title = `(*) ${posts.length} new replies for ${location.pathname}/`;
            setTimeout(() => document.title = oldtitle, 10000);
          }
          posts.forEach(make);
        });
    }

    setInterval(getNewPosts, 10000);
  </script>
</html>
